footer{
    max-width: 1350px;
    margin: 0 auto;
}
.footer_container {
    margin-top: 300px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer_box {
    h1{
 font-family: 'Circular Std';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
    }
    padding: 20px;
    color: white;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    img{width: 50px;}
    li{
        list-style: none;
    }
    a{
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 450;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 0.6;
    }
}