@import './navbar';
@import './header';
@import './section';
@import './footer';
@import './about';

main {
    max-width: 1350px;
    margin: 0 auto;
}
.main-1block {
    padding-top: 70px;
    max-width: 604px;
    color: white;
}
.main_title {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #3A68B8;
}
.main_name {
font-family: 'Open Sans';
font-style: normal;
font-weight: 800;
font-size: 55px;
color: #FFFFFF;
}

.main_text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
opacity: 0.7;
}

.main-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.main_btn {
    background: #3A68B8;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.main_buttons {
    display: flex;
    button{
        margin-left: 10px;
    }
}
.main-3block {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}